<a href="https://colab.research.google.com/github/victorfrank04/Python_Basics/blob/master/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#student details
sid= int(input("Enter Student Id"))
sname= input("enter student name")
marks=float(input('Enter marks'))
print("ID:",sid,"\nName:",sname,"\nMarks:",marks)

Enter Student Id1234
enter student nameharsh r
Enter marks86.986
ID: 1234
Name: harsh r
Marks: 86.986

In [6]:
#average of three numbers
a,b,c=[int(x) for x in input("enter three integer nos.:").split()]
avg= (a+b+c)/3
print('Average is:',avg)

enter three integer nos.:3 5 6
Average is: 4.666666666666667

In [7]:
#avg of first 'n' nos.
n= int(input('enter number of integers'))
avg=0
sum=0
for num in range(0,n+1,1):
  sum=sum+num
avg=sum/n
print('Average of %n', 'nos. is:',avg)

ERROR! Session/line number was not unique in database. History logging moved to new session 60
enter number of integers5
Average of %n nos. is: 3.0

In [10]:
#avg of nos. entered by user
lst=[int(x) for x in input('enter numbers:').split()]
print('numbers are',lst)
sum=0
avg=0
for num in lst:
  sum += int(num)
avg = sum/len(lst)
print('Average is= ',avg)

enter numbers:1 2 3 4 5
numbers are [1, 2, 3, 4, 5]
Average is=  3.0

In [12]:
#area of circle
r= float(input('enter radius'))
pi= 22/7
area= pi*r**2
print('area= ',area)

enter radius5
area=  78.57142857142857

In [13]:
#math module
import  math
r= float(input('enter radius'))
area= pi*r**2
print('area= ',area)

enter radius5
area=  78.57142857142857