<a href="https://colab.research.google.com/github/victorfrank04/Python_Basics/blob/master/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#even & odd
x = int(input('enter a no.:\t'))
if x%2==0:
  print(x,'is even')
else:
  print(x, 'is odd')

enter a no.:	87
87 is odd

In [0]:
#if else ladder
x = int(input('enter a no.:\t'))
if x==0:
  print(x,'is zero')
elif x%2==0:
  print(x,'is even')
else:
  print(x, 'is odd')

enter a no.:	0
0 is zero

In [0]:
#grading application output 1
m= float(input('Enter marks in maths out of 100'))
p= float(input('Enter marks in physics out of 100'))
c= float(input('Enter arks in chemistry out of 100'))
if m< 35 or p<35 or c < 35:
  print('you have failed the exams')
else:
  avg= (m+p+c)/3
  print('Average marks is: \t',avg)
  if avg<=59:
    print('your grade is C')
  elif avg<=69:
    print("Your gradeis B")
  elif avg>69:
    print('Your grade is A')

Enter marks in maths out of 10034
Enter marks in physics out of 10036
Enter arks in chemistry out of 10039
you have failed the exams

In [0]:
#grading application output 2
m= float(input('Enter marks in maths out of 100'))
p= float(input('Enter marks in physics out of 100'))
c= float(input('Enter arks in chemistry out of 100'))
if m< 35 or p<35 or c < 35:
  print('you have failed the exams')
else:
  avg= (m+p+c)/3
  print('Average marks is: \t',avg)
  if avg<=59:
    print('your grade is C')
  elif avg<=69:
    print("Your gradeis B")
  elif avg>69:
    print('Your grade is A')

Enter marks in maths out of 10048
Enter marks in physics out of 10078
Enter arks in chemistry out of 10086
Average marks is: 	 70.66666666666667
Your grade is A

In [0]:
#grading application output 2
m= float(input('Enter marks in maths out of 100'))
p= float(input('Enter marks in physics out of 100'))
c= float(input('Enter arks in chemistry out of 100'))
if m< 35 or p<35 or c < 35:
  print('you have failed the exams')
else:
  avg= (m+p+c)/3
  print('Average marks is: \t',avg)
  if avg<=59:
    print('your grade is C')
  elif avg<=69:
    print("Your gradeis B")
  elif avg>69:
    print('Your grade is A')

Enter marks in maths out of 10036
Enter marks in physics out of 10037
Enter arks in chemistry out of 10039
Average marks is: 	 37.333333333333336
your grade is C

In [0]:
#display numbers from 1 to 20 using while loop(demo)
x=1
while x<=20:
  print(x)
  x+=1   #incrementing x

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [0]:
#finding odd numbers between 2 given nos.
x= int(input('Enter min number:\t'))
y= int(input('Enter max number:\t'))
if x%2 ==0:
  x+=1
while x<=y:
    print(x)
    x+=2

Enter min number:	1
Enter max number:	20
1
3
5
7
9
11
13
15
17
19

In [9]:
#display 50 - 70 nos using (for)
for x in range(50,71,2):    #range(start index, end index, step)
  print(x)

50
52
54
56
58
60
62
64
66
68
70

In [10]:
#product of numbers in a list
lst=[1,3,4,5,6]
prod=1
for i in lst:
  prod*=i
print('product is:\t',prod)

product is:	 360

In [12]:
#multiplication number of any number
x= int(input('enter nummber for multi table'))
for i in range(1,11):
  print(x,'x',i,'=',i*x)

enter nummber for multi table58
58 x 1 = 58
58 x 2 = 116
58 x 3 = 174
58 x 4 = 232
58 x 5 = 290
58 x 6 = 348
58 x 7 = 406
58 x 8 = 464
58 x 9 = 522
58 x 10 = 580

In [1]:
#numbers 1 to  20 except multiples of 3
x=0
while x<20:
  x+=1
  if x%3 == 0:
    continue
  print(x)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [6]:
#assertion
#prompt the user to enter a no. >10
print('OUTPUT 1')
x= int(input("enter a no. greater  than 10\t"))
assert x>10, "Wrong no."
print('you entered\t',x)

print('OUTPUT 2')
y= int(input("enter a no. greater  than 10\t"))
assert y>10, "Wrong no."
print('you entered\t',y)

OUTPUT 1
enter a no. greater  than 10	11
you entered	 11
OUTPUT 2
enter a no. greater  than 10	2

AssertionError: ignored

In [17]:
x= int(input('Enter a number'))
print('numbers 1 to\t',x,':')
i=0
while i<x:
  i+=1
  print(i)
print('numbers till\t',x,'except multiples of 10 are:')
i=0
while i<x:
  i+=1
  if i>=100:
    break
  if i%10 == 0:
    continue
  print(i)

ERROR! Session/line number was not unique in database. History logging moved to new session 59
Enter a number110
numbers 1 to	 110 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
numbers till	 110 except multiples of 10 are:
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99