<a href="https://colab.research.google.com/github/victorfrank04/Python_Basics/blob/master/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def average(a,b):   #defining funcion
  print('Average is:\t',(a+b)/2)
average(10,20)

Average is:	 15.0

In [0]:
def average(a,b):
 return (a+b)/2
print(average(10,20))

15.0

In [0]:
def calc(a,b):
  x=a+b
  y=a-b
  z=a*b
  u=a/b
  return x,y,z,u
print(calc(10,5))

(15, 5, 50, 2.0)

In [0]:
#recursion
n=int(input('Enter a number:\t'))
def factorial(n):
  if n==0:
    return 1
  else:
    result= n*factorial(n-1)
    return result
print(factorial(n))

Enter a number:	0
1

In [3]:
#LAMBDA
n= int(input('Enter a number'))
'''def cube(n):
  return n**3'''
f= lambda n:n**3
print('cube is', f(n))

Enter a number2
cube is 8

In [5]:
#even odd using lambda
l= lambda x: 'EVEN' if x%2  ==0 else 'ODD'
print (l(3))
print (l(58))

ODD
EVEN

In [7]:
#addition using lambda
l= lambda a,b: a+b
print('addition of a and b',l(12,34))

addition of a and b 46